<ion-header id="ini">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="img" color="dark">
    <img src="assets/img/netflix.png" width="880" height="250"><br>
    <img src="assets/img/spotify.png" width="293" height="250">
    <img src="assets/img/prime.png" width="293" height="250">
    <img src="assets/img/plex.png" width="293" height="250"><br>
    <img src="assets/img/disney.png" width="293" height="250">
    <img src="assets/img/youtube.png" width="293" height="250">
    <img src="assets/img/hbo.png" width="293" height="250">
  </ion-card>
</ion-content>
