<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formularioRegistro">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Nombres</ion-label>
                  <ion-input formControlName="nom"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Apellidos</ion-label>
                  <ion-input formControlName="ape"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Correo</ion-label>
                  <ion-input formControlName="correo" type="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password' "></ion-input>
                  <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()" color="primary">
                  </ion-icon>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Confirmar Contraseña</ion-label>
                  <ion-input formControlName="confcont" [type]="showPassword ? 'text' : 'password' "></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Telefono</ion-label>
                  <ion-input formControlName="telefono" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Fecha de Nacimiento</ion-label><br>
                  <ion-input formControlName="fechnacim" type="date"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-radio-group formControlName="sexo">
                    <ion-list-header>
                      <ion-label>Sexo</ion-label>
                    </ion-list-header>
                    <ion-item>
                      <ion-label>Masculino</ion-label>
                      <ion-radio slot="start" color="tertiary" value="Masculino"></ion-radio>
                    </ion-item>
                    <ion-item>
                      <ion-label>Femenino</ion-label>
                      <ion-radio slot="start" color="success" value="Femenino"></ion-radio>
                    </ion-item>
                    <ion-item>
                      <ion-label>Otro</ion-label>
                      <ion-radio slot="start" color="danger" value="Otro"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-item><br>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-footer id="breack">
            <ion-button color="success" (click)="guardar()">Registrarse</ion-button>
          </ion-footer>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>